registry=https://registry.npmjs.org/
@evovee:registry=https://registry.npmjs.org/
@parkwize:registry=https://registry.tecnova.ca/
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//registry.tecnova.ca/:_authToken=${NPM_TOKEN2}